<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.chick-p.kibela</string>
	<key>connections</key>
	<dict>
		<key>5B088EFA-DFB0-4B81-B773-6047329F39FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96E2FF6E-1478-423A-B6C3-A58774FC8605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chick-p</string>
	<key>description</key>
	<string>Search Kibe.la notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kibela Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>kibe</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/index.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notes in Kibe.la</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B088EFA-DFB0-4B81-B773-6047329F39FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>96E2FF6E-1478-423A-B6C3-A58774FC8605</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search notes in Kibela and open note in your default browser.
Please install Node.js.

Requirements:
  - Node.js 10.x

Workflow Environment Variables:
  - KIBELA_TEAM_NAME
  - KIBELA_ACCESS_TOKEN

Please see https://www.alfredapp.com/help/workflows/advanced/variables/

Attributes:
- Icon made by Freepik from www.flaticon.com</string>
	<key>uidata</key>
	<dict>
		<key>5B088EFA-DFB0-4B81-B773-6047329F39FF</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>96E2FF6E-1478-423A-B6C3-A58774FC8605</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>KIBELA_ACCESS_TOKEN</key>
		<string></string>
		<key>KIBELA_TEAM_NAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>KIBELA_TEAM_NAME</string>
		<string>KIBELA_ACCESS_TOKEN</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/chick-p/alfred-kibela-workflow#readme</string>
</dict>
</plist>
